@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  min-width: 320px;
  max-width: 800px;
  height: auto;
  padding: 50px;
  margin: 0 auto;
  background: #fff;
}

section {
  display: none;
  padding: 20px 0 0;
  border-top: 1px solid #ddd;
}

input {
  display: none;
}

label {
  display: inline-block;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: -1px;
  margin-left: 0px;
  padding: 15px 25px;
  font-weight: 600;
  text-align: center;
  color: #bbb;
  border: 1px solid transparent;
}

label:hover {
  color: #888;
  cursor: pointer;
}

input[type="radio"]:checked+label {
  color: #555;
  border: 1px solid #ddd;
  border-top: 2px solid orange;
  border-bottom: 1px solid rgba(165, 155, 155, 0.801);
}

@media screen and (max-width: 650px) {
  label {
    font-size: 0;
  }

  label:before {
    margin: 0;
    font-size: 18px;
  }
}
@media screen and (max-width: 400px) {
  label {
    padding: 15px;
  }
}
